body {
    padding: 0;
    margin: 0;
}

.IndexBody{
    background-color: rgb(0, 0, 60);
}
body, html {
  overflow-x: hidden;
}

.containerfix {
  max-width: 100%;
  overflow-x: hidden;
}



/* Animation of Contact Page */

.contact-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.contact-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.contact-exit {
  opacity: 1;
  transform: translateY(0);
}

.contact-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

/* end Contact Page  */


/* HeroSection.css */

/* Typing Animation CSS */
@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; }
}
.typing-animation {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right:rgb(0, 0, 0);
  animation: typing 6s steps(30, end) infinite, blink 8s steps(30, end) infinite;
}


